body {
  background: linear-gradient(300deg, #feac5e, #f67280, #c779d0, #4bc0c8);
  background-size: 1400% 1400%;
  animation: gradient-animation 24s ease infinite;
  margin: 0;
  padding: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main {
  height: 50vh;
  width: 100%;
  text-align: center;
}
h1 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 56px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
h2 {
  margin: 5px auto;
  padding: 5px;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #05094f;
}

h3 {
  margin: 5px auto;
  padding: 5px;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: #4bc0c8;
}
.roller {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.125rem;
  line-height: 4rem;
  width: 100%;
  color: #05094f;
}
.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
    color: #f1faee;
  }

  .roller {
    height: 2.6rem;
    line-height: 2rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }
}

@keyframes slide-mob {
  0% {
    top: 0;
  }
  25% {
    top: -2.125rem;
  }
  50% {
    top: -4.25rem;
  }
  72.5% {
    top: -6.375rem;
  }
}
.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 30px;
  background: #fff;
  border: 3px solid #231f20;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  line-height: 1.4;
}
p {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #231f20;
}
.card-notes {
  font-size: 15px;
}
strong {
  color: #4bc0c8;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  position: relative;
  margin: 25px 0;
  padding: 20px;
  background-color: #ffff;
  border: 2px solid #231f20;
  box-shadow: 6px 6px 0 0 #4bc0c8;
  box-sizing: border-box;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(10px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
i {
  display: block;
  font-size: 60px;
  transition: all 150ms ease-in-out;
}
i:hover {
  cursor: pointer;
}
button {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  background: #05094f;
  border: 2px solid #231f20;
  border-radius: 4px;
  padding: 14px 24px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
button:hover {
  color: #231f20;
  transform: translate(-4px, -4px);
  background: #4bc0c8;
  box-shadow: 6px 6px 0 0 #231f20;
}
button:active {
  transform: translate(0);
  box-shadow: none;
}

a {
  color: #05094f;
}
a:hover {
  cursor: pointer;
  font-style: italic;
}
footer {
  padding: 10px;
}
